body {
    font-family: Arial;
    margin: 0;
    background: #e9e9e9;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.post-box textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
}

.post-box button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.post {
    background: #f7f7f7;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
}
